@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap');


:root{
    --brand-color: #32B768;
}

*{
    /* padding: 0!important; */
    /* margin: 0!important; */
    box-sizing: border-box;
}

html, body{
    background-color: #F6F6F6;
    overflow-x: hidden;
    margin-bottom: 20px;
}

textarea:focus, input:focus{
    outline : none;
}

.navbar{
    background-color: #F6F6F6;
    height: fit-content;
}


.brand-color{
    color: var(--brand-color);
}

.bg-brand-color{
    background-color: var(--brand-color);
}


/* Navabar */
.navbar-brand-logo{
    font-family: 'Italianno', cursive;
    text-decoration: none;
    font-size: 48px;
}

/* Search bar */
.search-bar{
    position: relative;
    width: 75vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    z-index: 2;
}

.search-bar i {
    position: absolute;
    top: 12px;
    left: 20px;
    font-weight: bold;
    font-style: normal;
    color: #7b7f88;
  }

.search-bar input{
    border: none;
    line-height: 36px;
    padding-left: 45px;
    width: 100%;
    z-index: 1;
    border-radius: 11px;
    background-color: #E6E7E9;
}


/* Carousel indicators custom design */
.carousel-custom-indicators button{
    width: 9px;
    height: 9px;
    background: #E2E2E2;
    border: none;
    border-radius: 50%;
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

.carousel-custom-indicators .active{
    background : var(--brand-color);
}

.carousel-item{
    height: 150px;
    border-radius: 15px!important;
    overflow: hidden;
}

.carousel-item img{
    object-fit: fill;
}

/* Product card */

.product-card{
    min-width: 160px;
    width: min-content;
    border-radius: 16px;
    border: none;
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.2);
    margin-left: 15px;
    margin-bottom: 15px;
}


.product-card img{
    padding: 8px;
    border-radius: 16px;
    object-fit: contain;
}

.product-card .card-body{
    padding: 8px!important;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}


/* Product category card */

.product-category-card{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    border-radius: 9px;
    padding: 7px 10px 7px 10px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.2);
    margin-bottom: 10px;
}

.product-category-card img{
    width: 20%;
    height: 25%;
    border-radius: 9px;
}

.product-category-card p{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: medium;
    margin: 0;
    margin-left: 15px;
    vertical-align: middle;
}

.product-category-card i{
    margin-left: auto;
    margin-right: 10px;
    color: var(--brand-color);
    font-size: large;
}

/* PRoducts row */

.product-row{
    display: flex;
    flex-wrap: wrap;
}


/* CAtegory button */
.category-btn{
    align-self: center;
    width: min-content;
    max-height: 40px;
    min-height: 38px;
    color: white!important;
    text-decoration: none;
    font-size: large;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05rem;
    background-color: var(--brand-color);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.2);
    padding: 7px 15px 7px 15px;
}

/* Menu button with fire icon */
.menu-btn{
    align-self: center;
    width: fit-content;
    max-height: 48px;
    min-height: 42px;
    color: var(--brand-color);
    text-decoration: none;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05rem;
    background-color: white;
    border-radius: 23px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.2);
    padding: 7px 22px 7px 22px;
    background:  linear-gradient(white, white) padding-box, linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 2px solid transparent;
}

/* Product added already in cart */
.cart-product-added{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-product-added a{
    color: var(--brand-color)!important;
}

.cart-product-added i{
    color: var(--brand-color)!important;
}

/* Navbar bg green curve border for cart pages */

.navbar-bg-green-curve{
    background-color: var(--brand-color);
    border-radius: 0 0 35px 35px;
}

.navbar-bg-green-curve .brand-color{
    color: white;
}

.navbar-bg-green-curve .navbar-brand-logo{
    padding-bottom: 0px;
}

/* Cart page text with icon design */
.cart-text-header{
    width: 100vw;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Card for elements in cart page */
.cart-product-card{
    width: 90%;
    border-radius: 16px;
    border: none;
    box-shadow: 0 0.5px 2px rgb(0 0 0 / 0.2);
    margin-bottom: 8px;

    display: grid;
    grid-template-columns: 0.25fr 1fr;
    align-items: center;
}

.cart-product-card img{
    width: 60px;
    height: 60px;
    padding: 5px;
    object-fit: cover;
    border-radius: 16px;
}

.cart-product-quantity-count{
    background-color: rgba(190, 197, 209, 0.6);
    min-width: 40px;
    margin: 0 5px 0 5px;
    height: fit-content;
    text-align: center;
    border-radius: 16px;
}

.cart-product-quantity-count span{
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
}

.cart-product-card .delete-cart-btn{
    position: absolute;
    top: -2px;
    right: 0;
    color: red;
}

/* Cart page checkout button */
.checkout-btn, .register-btn, .back-btn, .generic-btn{
    width: 75vw;
    max-height: 48px;
    min-height: 42px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.2);
    background: var(--brand-color);
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Registration page form */
.custom-reg-form input, textarea{
    border-radius: 14px;
}

.custom-reg-form input::placeholder, textarea::placeholder{
    font-size: 0.8rem;
}

.custom-reg-form label{
    font-size: 0.85rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.delivery-mode-option{
    padding: 0;
    margin: 0;
    width: 35vw;
    margin-top: 60px;
    border-radius: 100%;
    border: 3px solid var(--brand-color);
}

.in-shop-option{
    padding: 0;
    margin: 0;
    width: 35vw;
    margin-top: 60px;
}

.or-choose{
    margin-top: 60px;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}

